<!-- Navigation -->
<nav class="navbar navbar-expand-lg  static-top ">
  <div class="container">
    <%= link_to image_tag('logo.png', :class => 'navbar-brand'), home_index_path   %>
    <div class="header-list loc-srch">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <% if current_user.present? %>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  <%= image_tag('user.png', :class => 'user_image') %> <%= current_user.name %></a>
                <div class="dropdown-menu" style="width:100px; border-right-width: 1px;">
                  <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'dropdown-item') %>
                </div>
              <% end %>  
            </li>
          </ul>
        </li>   
      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <div class="media-body">
    <div class="food_sml_right">
      <h2 class="restra_title" >
        <%= @dish.name %>  
      </h2>
      <p class="restra-txt" style = "border-bottom: 2px solid #d8d8d8;">
        <% @dish.restaurants.each do |r| %> 
          <%= link_to r.name, restaurant_path(r), :class => 'rest_name' %>
        <% end %>  
      </p>
    </div>
  </div>


  <div class="row">
    <div class="image-box col-lg-12 col-md-12 col-sm-12 col-xs-12 no_padding_right 
      no_padding_left hover_outr" style="margin: 0px;"> 
      <div class="single_item card">
        <%= link_to dish_path(@dish) do %> 
          <div class="image-box2">
           <% @dish.pictures.each do|p|%>
              <%=image_tag(p.image_url.to_s, :class => 'show_dish')%>
            <% end %>
          </div>  
        <% end %>

        <div class="rating">
            <% pre_like = @dish.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to '', dish_like_path(@dish, pre_like), :class => 'fa fa-heart', :id => 'heart',method: :delete %>
              <% else %>
                <%= link_to '', dish_likes_path(@dish),:class => 'fa fa-heart-o', :id => 'heart1', method: :post %>
              <% end %>
            <p class="votes" ><%= @dish.likes.count %> <%= (@dish.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>

      <!-- Prev and next icons in dish image -->
        <% unless  @dish.id == Dish.first.id   %>
          <%= link_to '', Dish.get_previous_dish(@dish), :class => 'fa fa-chevron-left top-left previous round">&#8249;', :style => 'top:260px; left:10px;'  %>
        <% end %>

        <% unless  @dish.id == Dish.last.id   %>
          <%= link_to  '', Dish.get_next_dish(@dish), :class => 'fa fa-chevron-right top-right next round">&#8249;' %>
        <% end %>
      <!--      -->
    
             
        <div class="card-text_dish">
          <figcaption>
            <div>
              <h2><%= @dish.name %></h2>
              <% @dish.restaurants.each do |r|%>
                <p><span style="font-size:15px; float: left;"><%= r.name %></span>
                   <span class="price">$<%= @dish.price%></span>
                </p>
              <% end %>
            </div>
          </figcaption>
        </div>
      </div>
    </div>

  </div>
</div>
  
<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no_padding_right 
            no_padding_left hover_outr"> 
      <h4>Overall Rating &nbsp;
        <%= @dish.ratings.average(:rating).present? ? @dish.ratings.average(:rating).round(1) : 0 %>
        <i class="review-rating" data-score = " <%= @dish.ratings.average(:rating).present? ? @dish.ratings.average(:rating).round(1) : 0 %>"></i>
          
      </h4><br><i >Based on <%= @dish.ratings.count(:rating) %> Reviews</i><br>

      <div>
         <i class="review-rating" data-score = "5"></i>
         &nbsp;
         <span>(<%= @dish.ratings.where(rating: 5).count %>)</span>
      </div>

      <div>
       <i class="review-rating" data-score = "4"></i>
         &nbsp;
         <span>(<%= @dish.ratings.where(rating: 4).count %>)</span>
      </div>

      <div>
        <i class="review-rating" data-score = "3"></i>
         &nbsp;
         <span>(<%= @dish.ratings.where(rating: 3).count %>)</span>
      </div>

      <div>
        <i class="review-rating" data-score = "2"></i>
         &nbsp;
         <span>(<%= @dish.ratings.where(rating: 2).count %>)</span>
      </div>

      <div>
         <i class="review-rating" data-score = "1"></i>
         &nbsp;
         <span>(<%= @dish.ratings.where(rating: 1).count %>)</span>
      </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no_padding_right 
              no_padding_left hover_outr" style="margin: 0px;"> 
      <div align="center">
        <span class="link more btn_outer">
          <span class="most_review"> All Reviews </span>
            
         <% if current_user.present? %>
          <%= link_to 'Write a Review','#modaldevise', "data-toggle" => "modal", "data-target"=>"#modaldevise", :class => 'load-more', :style => 'margin-left:100px;' %>
            
        
            <div class="modal fade" id="modaldevise" tabindex="-1" role="dialog" 
              aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 style ="color: black;"class="modal-title" id="myModalLabel">Add Rating</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body modal_form">
                  <%= render 'rating'%>
                </div>
              </div>
            </div>
          </div>

          <% else %>
            <%= link_to 'Write a Review', dish_likes_path(@dish), :class => 'load-more', :style => 'margin-left:100px;', method: :post %> 
          <% end %>


         

        </span>
      </div><br>

      <div class="review_left" >
        <% @dish.ratings.each do |rate| %>
        <div class="media" style="margin-bottom: 15px;">
         
          <div class="media-body">
            <div class="food_sml_right u-dimension-2">
              <div style="background-color:#f2f2f2; padding: 15px;"class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div >
                  <div>
                    <p style="margin-bottom: 15px; text-transform: capitalize;"> <%= image_tag('user.png', :class => 'user_img')%> &nbsp;<%= rate.user_name %></p>
                  </div>
                  
                  <div class="left-div">
                    <span class="rating_dish1">Rating</span><br>
                   <div class="review-rating" data-score = "<%= rate.rating%>"></div>
                  </div> 

                  <div class="right-div">
                    <span class="posted_dish">Posted</span><br>
                    <span  style="margin-left: 10px;">
                     <%= rate.created_at.localtime.strftime '%d-%m-%y %H:%M:%S' %>
                   </span> 
                  </div>  

                </div>
                <br><br><br> 
                <div>
                    <%= rate.comments %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>






<footer id="footer">
  <div class="container">
    <div class="row">
    
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2 id="footer_text"> Do more with the app. Download it today!</h2>
        <ul>
          <li>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.peppa.app"><img src="<%= asset_path( 'fooimage.png' ) %>" /></a>
          </li>
          <li>
            <a target="_blank" href="https://itunes.apple.com/us/app/peppa/id1270825524?ls=1&amp;mt=8"><img src="<%= asset_path( 'fooimg2.png' ) %>" /></a>
          </li>
        </ul>
      </div>
        <div class="col-lg-4 col-md-4 pull-right col-xs-12 phone-img">
        <img class="phone_img" src="<%= asset_path('phone-img.png')%>">
      </div>

    </div>
  </div>
</footer>









