<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top" style="">
  <div class="container">
      <%= link_to image_tag('logo.png', :class => 'navbar-brand'), root_path   %>
    <div class="header-list loc-srch">
      <ul class="nav navbar-nav">
        
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
          <ul class="nav navbar-nav ml-auto">
            <% if current_user.present? %>
            <li class="nav-item dropdown">
              
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <%= image_tag('user.png', :class => 'user_image') %> <%= current_user.name %></a>
              <div class="dropdown-menu" style="width: 100px;"> 
                <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'dropdown-item') %>
              </div>

              <% else %>

                <li class="nav-item active">
                  <%= link_to 'Login', new_user_session_path, :class => 'nav-link' %>
                </li>

                <li class="nav-item">
                  <%= link_to 'Signup', new_user_registration_path, :class => 'nav-link' %>
                </li> 
              <% end %>
            </li>
          </ul>
        </li>  
      </ul>
      
    </div>
  </div>
</nav>

<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="restaurant_column">
        <% @restaurant.pictures.each do|p|%>
        <%= link_to image_tag(p.image_url.to_s ,:class => 'restaurant_image'),'#',
              {:class=>" ", "data-toggle"=>"modal", "data-target" => "#myModal-#{p.id}"}%>
          <!-- Modal for image view-->
          <div class="modal fade"  id="myModal-<%= p.id %>" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content modal-img-content">
                <div class="modal-body">
                  <%= image_tag p.image_url.to_s ,:class => 'modal-img'%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div>
        <h2 class="restaurant_title" >
          <%= @restaurant.name%> 
        </h2>
        <span class="restaurant_rating"><%= @dish_rating.round(1)%>
            <i class="fa fa-star checked"></i>
          </span>
        </div>
        <p class="restaurant-txt">
          <a style="text-decoration-line: none;" target="_blank" href="http://maps.google.com/?q=<%=( @restaurant.locations.pluck(:street, :city, :state, :country).join(',')) %>"> 
            <%  @restaurant.locations.each do |l|%>
            <%= l.street %>,<%= l.city %>,<%= l.state %>, <%=l.pincode%>,<%=l.country%> 
            <% end %> 
          </a>
         </p> 
        <ul class="ver-filter">
          <li>
            <div class="select_box sort_by">
              <label>
                <select id="filter" class="sort">
                  <option selected="">Sort by </option>
                  <option value="price">PRICE</option>
                  <option value="ratings">RATING</option>
                </select>
              </label>
            </div>
          </li>
          <li>
            <div class="select_box rating_by">
              <label>
                <select id="rating_filter" class="sort_rating">
                  <option selected="" value="">All Rating </option>
                  <option value="3">3+</option>
                  <option value="4">4+</option>
                  <option value="5">5+</option>
                </select>
              </label>
            </div>
          </li>
          <li>
            <div class="select_box tag_by">
              <label>
                <select id="tag_filter" class="sort_dish_dietary">
                <option value="all" >All Dietary </option>
                <option value="1" >VEG</option>
                <option value="2" >NON-VEGETARIAN</option>
                <option value="3" >DRINKS</option>
                <option value="4" >DESSERTS</option></select>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div id="restaurant_dish_list">
        <%= render "restaurants/dishes" %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  
  $('.rating-form').raty({
    path:'/assets/',
    scoreName: 'rating[rating]',
    score: 1

  });

  $(".review-rating").raty({
        readOnly: true,
        score: function() {
        return $(this).attr("data-score");
        },
        path: "/assets/"
  });

  
</script>







<style type="text/css">
  .restaurant_rating{

   
    background-color: rgb(91, 168, 41);
    color: #fff;
   
    font-weight: 600;
    padding: 3px 6px;
    
    border-radius: 4px;
    font-size: 18px;
  
    text-align: center;
   

}

  .restaurant_column {
    float: left;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 60px 30px 20px
  }
  
  .restaurant_image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .restaurant_title {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #83929a;
    font-family: 'Playfair Display', serif;
    
  }

  .restaurant-txt {
      float: left;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: #83929a;
      line-height: 2;
      letter-spacing:1px;
  }

  .restaurant-txt a {
      color: #5ac7f9;
      text-transform: uppercase
  }

  .rstra_phn {
    display: inline-block;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    color: #83929a;
    line-height: 2
  }

  .ver-filter {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 40px
}

.ver-filter .select_box {
    margin-bottom: 20px;
    width:260px;
}

.ver-filter li:last-child .select_box {
    margin-bottom: 0
}

.ver-filter .select_box {
    margin-bottom: 20px
}

.ver-filter li:last-child .select_box {
    margin-bottom: 0
}

.select_box label:before {
    content: '';
    right: 10px;
    top: auto;
    bottom: 12px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #83929a
}

.checked {
  color: #fff;
  font-size:12px;
}

</style>